<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Execute</title>
</head>
<body>
<div>
    <div id="content" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);">
        <form action="/personnel/execute" method="post" style="font-family: 隶书;font-size: 20px;">
            <table>
                <tr>
                    <td>讲座主题：</td>
                    <td>
                        <!--                            <input type="text" name="oldTheme" th:field="${lecture.theme}" style="display: none">-->
                        <input type="text" name="theme" th:field="${lecture.theme}" readonly="readonly" style="height:27px;width: auto;border-radius: 6px">
                    </td>
                </tr>
                <tr>
                    <td>讲座时间：</td>
                    <td>
                        <input type="text" name="time" th:field="${lecture.time}" style="height:27px;width: auto;border-radius: 6px">
                        <!--这个在后续还可以优化，因为这个时间要改成可以选择的而不是自己填的，自己填的可能会有格式错误，导致无法插入到数据库中-->
                    </td>
                </tr>
                <tr>
                    <td>讲座地点：</td>
                    <td>
                        <input type="text" name="place" th:field="${lecture.place}" style="height:27px;width: auto;border-radius: 6px">
                    </td>
                </tr>
                <tr>
                    <td>拟请专家：</td>
                    <td>
                        <input type="text" name="expertName" th:field="${lecture.expertName}" style="height:27px;width: auto;border-radius: 6px">
                    </td>
                </tr>
                <tr>
                    <td>讲座简介：</td>
                    <td>
                        <input type="text" name="introduction" th:field="${lecture.introduction}" style="height:27px;width: auto;border-radius: 6px">
                    </td>
                </tr>
            </table>
            <label>报名链接：<a href="http://localhost:81/signUp.html">http://localhost:81/signUp.html</a></label>
            <button type="submit" name="updateLecture" style="position: absolute;margin-top:20px;left: 50%;transform: translate(-50%);background-color: #009688;color: white; font-family: 隶书;font-size: 20px;height:30px;width: 60px;border-radius: 6px;">发布邮箱</button>
            <label th:text="${msg}">提示执行的信息，比如修改成功，修改失败等</label>
        </form>
</div>
</body>
</html>