<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mywork1.persistence.AccountMapper">
    <select id="getAccountByUsername" parameterType="string" resultType="Account">
        SELECT * from account where username=#{username}
    </select>
    <select id="getAccountByUsernameAndPassword" parameterType="string" resultType="Account">
        select * from account where username=#{username} and password=#{password}
    </select>
    <insert id="newAccount" parameterType="Account"><!--parameterType为输入参数-->
        insert into account
            (username,password,email,telephone)
            values (#{username},#{password},#{email},#{telephone})
    </insert>
<!--    <select id="getPersonnelList" resultType="Account">-->
<!--        select username from account where username like 'p%'-->
<!--    </select>-->
    <update id="updateMyInfPicture" parameterType="String">
        update account
            set picture=#{filename}
            where username=#{username}
    </update>
</mapper>